{% extends 'app/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>{{ resource.name }}</h2>
    <p class="text-muted">{{ resource.description }}</p>
    {% if resource.resource_url %}
        <a href="{{ resource.resource_url }}" target="_blank" class="btn btn-info"><i class="fas fa-external-link-alt"></i> View Resource</a>
    {% endif %}

    {% if resource.video %}
        <div class="embed-responsive embed-responsive-16by9 mb-3">
            <video class="embed-responsive-item" controls>
                <source src="{{ resource.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    {% endif %}



        {% if user.is_authenticated and not user.is_staff %}
            <a href="{% url 'feedback_create' %}?resource_id={{ resource.pk }}" class="btn btn-primary mt-3">
                <i class="fas fa-comment-alt"></i> Give Feedback
            </a>
        {% endif %}

    {% if user.is_staff %}
        <a href="{% url 'resource_update' resource.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
        <a href="{% url 'resource_delete' resource.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
    {% endif %}
        <a href="{% url 'resource_list' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back</a>

</div>
{% endblock content %}